.newUser{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px;
}

.alignTextCenter{
  text-align: center;
}

.hidde-text{
  display: none;
  font-size: 12px;
  color:  red;
}